@charset "UTF-8";
header {
    margin: -20px;
    padding: 30px;
    background-color: rgb(229, 132, 68);
}
h1 {
    text-align: center;
    font-size: 40pt;
}
h4 {
    font-size: 25pt;
    margin-left: 20px;
}
p {
    font-size: 15pt;
    margin-left: 30px;
}
div#fundo {
    background-image: url("imagem/forro3.png");
    margin: -50px -20px 40px -10px;
}
nav#menu {
    display: block;
}
nav#menu ul {
    list-style-type: none;
    text-transform: uppercase;
    position: absolute;
    top: -10px;
    left: 1300px;
}
nav#menu li {
    display: inline-block;
    padding: 10px;

}
nav#meio {
    margin: -20px;
    background-color: rgb(218, 218, 163);
    padding: 50px;
    text-align: center;
}
nav#meio img {
    width: 700px;
    height: 500px;
}
nav#me {
    display: inline-block;
}
nav#me article {
    list-style-type: none;
}
/*CSS da pagina principal: INICIO*/
article#cardapio {
    text-align: center;
    width: 800px;
    height: 600px;
    margin-left: 100px;
    margin-right: -20px;
}
article#cardapio img {
    width: 50%;
    height: 50%;
}
/*CSS da pagina principal: FIM*/


/*CSS da pagina de receitas: INICIO*/
article#receitas {
    text-align: center;
    width: 800px;
    height: 600px;
    margin-left: 65%;
}
article#receitas img {
    width: 70%;
    height: 70%;
}
article#receitas p{
    background-color: #d98347;
    color: white;
    padding: 20px;
    text-align: left;
    margin-left: 15%;
    margin-right: 115px;
    line-height: 30px;
}
/*CSS da pagina de receitas: FIM*/
a p {
    font-size: 20pt;
    margin-bottom: -5px;
    line-height: 50px;
}
footer{
    background-color: rgb(229, 132, 68);
    margin: -40px;
    text-align: center;
    padding: 5px;
}
footer p{
    font-size: 10pt;
}
nav#rodape article {
    list-style-type: none;
    display: inline-block;
}
nav#rodape  {
    margin-top: -15px;
}
nav#rodape p{
    font-size: 12pt;
    line-height: 20px;
}


